{% extends "base.html" %}

{% block title %} Learn - {{ ctf_name }} {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Learn!</h1>
	</div>
</header>
{% endblock %}

{% block content %}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$']]}
    });
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    $\int e^{xy}$
{% endblock %}
