{% extends "base.html" %}
{% load staticfiles %}
{% load learn_extras %}

{% block title %} {{ module.title }} - Learn - {{ ctf_name }} {% endblock %}

{% block pagetitle %}
<h1></h1>
{% endblock %}

{% block css %}
    <link href="{% static 'css/learn.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$']]}
    });
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <div class="row">
        <nav class="col-xs-12 col-sm-3 module-nav">
            {% module_tree root %}
        </nav>
        <div class="col-xs-12 col-sm-9 module">
            <header class="page-title">
                <div class="container">
                    <h1>{{ module.title }}</h1>
                </div>
            </header>

            {{ contents|safe|linebreaks }}

            <div style="float: right;">
                {% if module.first_child %}
                    Next: <a href="{% url 'learn:module' module.first_child.name %}">{{ module.first_child.title }} &raquo;</a>
                {% elif module.next %}
                    Next: <a href="{% url 'learn:module' module.next.name %}">{{ module.next.title }} &raquo;</a>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
