{% extends "base.html" %}
{% load staticfiles %}
{% load learn_extras %}

{% block title %} {{ module.title }} - Learn - {{ ctf_name }} {% endblock %}

{% block pagetitle %}
<h1></h1>
{% endblock %}

{% block css %}
    <link href="{% static 'css/learn.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$']]}
    });
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <div class="row">
        <nav class="col-xs-12 col-sm-3 module-nav">
            <h3>Contents</h3>

            {% module_tree root %}
        </nav>
        <div class="col-xs-12 col-sm-9 module">
            <header class="page-title">
                <h1>{{ module.title }}</h1>
            </header>

            <hr/>

            {{ module.text|safe }}

            {% if module.children.count > 0 %}
                <h3>Section Contents</h3>

                <ol>
                    {% for child in module.children.all %}
                        <li><a href="{%  url 'learn:module' child.name %}">{{ child.title }}</a></li>
                    {% endfor %}
                </ol>
            {% endif %}

            {% if next %}
                <div style="float: right;">
                    Next: <a href="{% url 'learn:module' next.name %}">{{ next.title }} &raquo;</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
