[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
sendgrid = "*"
"psycopg2" = "*"
django-rest-swagger = "*"
django-cors-headers = "*"


[dev-packages]

docker-py = "*"
paramiko = "*"
gunicorn = "*"
