{
    "secret_key": "supersecretsecurekey",
    "debug": true,
    "cache_enabled":false,
    "allowed_hosts": [

    ],
    "registration_enabled": true,
    "use_loadbalanced_databases": false,
    "databases": {
        "default": {
            "ENGINE": "django.db.backends.sqlite3",
            "NAME": "db.sqlite3",
            "NAME_JOIN": true
        }
    },
    "start_time": "Feb 13 2016 00:00:00",
    "end_time": "Feb 20 2016 00:00:00",
    "ssl": false,
    "shell": {
        "enabled": true,
        "ssh_key_path": "djangoctf/shell_privkey"
    },
    "email": {
        "enabled": true,
        "sendgrid_api_key": "redacted",
        "username": "redacted",
        "password": "redacted"

    }
}
