{
    "secret_key": "supersecretsecurekey",
    "debug": true,
    "cache_enabled":false,
    "allowed_hosts": [

    ],
    "cache_enabled": true,
    "registration_enabled": true
    "start_time": "2016-02-13 00:00:00-05",
    "end_time": "2016-02-20 00:00:00-05",
    "use_loadbalanced_databases": false,
    "databases": {
        "default": {
            "ENGINE": "django.db.backends.sqlite3",
            "NAME": "db.sqlite3",
            "NAME_JOIN": true
        }
    },
    "ssl": false,
    "shell": {
        "enabled": true,
        "ssh_key_path": "djangoctf/shell_privkey"
    },
    "email": {
        "enabled": true,
        "sendgrid_api_key": "redacted",
        "username": "redacted",
        "password": "redacted"
    },
    "logging": {
        "version": 1,
        "disable_existing_loggers": false,
        "handlers": {
            "file": {
                "level": "ERROR",
                "class": "logging.FileHandler",
                "filename": "/var/log/django.log"
            },
            "mail_admins": {
                "level": "ERROR",
                "class": "django.utils.log.AdminEmailHandler"
            }
        },
        "loggers": {
            "django": {
                "handlers": ["file", "mail_admins"],
                "level": "DEBUG",
                "propagate": false
            }
        }
    },
    "admins": [],
    "signup_captcha": {
        "enabled": false
    }
    "lob_address_verification":{
        "enabled": true,
        "api_key": "redacted"
    }
}
