{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %} angstromCTF {% endblock %}

{% block pagetitle %}
    <header class="page-title">
        <div class="container">
            <h3>Oops - 404!</h3>
        </div>
    </header>
{% endblock %}

{% block content %}

    The webpage you seek<br/>
    cannot be located but<br/>
    endless others exist.<br/>
    <br/>
    <a href="http://lmgtfy.com/?q=other+cool+websites">Here's</a> a link to help you find another.


    <!-- From Mike Arnautov's webpage, mipmip.com -->


{% endblock %}
