{% extends "base.html" %}
{% load extras %}
{% load staticfiles %}

{% block title %} About - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>About angstromCTF</h1>
	</div>
</header>
{% endblock %}

{% block css %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<h3>What is AngstromCTF?</h3>

	<p>AngstromCTF is a capture-the-flag competition modeled on <a href="https://picoctf.com/" target="_blank">picoCTF</a>
    and created at Montgomery Blair High School.  It is designed to teach high school students reverse engineering
    and other skills needed in computer security.</p>

	<h3>Who is AngstromCTF?</h3>
    <p>AngstromCTF is created by several students, all at MBHS. In no particular order, they are:</p>

    <div class="row about-row">
        {% for person in people %}
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div style="width: 70%; height: 70%;" class="about-img">
                    <img class="circular" src="{{ person.picture }}">
                </div>

                <div class="about-caption">
                    {{ person.name }}, {{ person.grade|grade_to_name }}
                    <br/>
                    <span style="font-style: italic;">{{ person.contributions }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
