{% extends "base.html" %}
{% load extras %}

{% block title %} About - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>About angstromCTF</h1>
	</div>
</header>
{% endblock %}

{% block content %}
	<h3>What is AngstromCTF?</h3>

	<p>AngstromCTF is a capture-the-flag competition modeled after <a href="https://picoctf.com">picoCTF</a>
    and created at Montgomery Blair High School.  It is designed to teach high school students reverse engineering
    and other skills needed in computer security.</p>

	<h3>Who is AngstromCTF?</h3>
    <p>AngstromCTF is created by several students, all at MBHS. In no particular order, they are:</p>

    <div class="row about-row">
        {% for person in people %}
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div style="width: 20vh; height: 20vh;" class="about-img">
                    <img class="circular about-img" src="{{ person.picture }}">
                </div>

                <div class="about-caption">
                    {{ person.name }}, {{ person.grade|grade_to_name }}
                    <br/>
                    <span style="font-style: italic;">{{ person.contributions }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
