{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %} Account Activation - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		{% if already_active %}
		<h3>Account already active</h3>
		{% elif activation_expired %}
		<h3>Error</h3>
		{% elif new_link_sent %}
		<h3>New link sent!</h3>
		{% elif activation_success %}
		<h3>Activation complete!</h3>
		{% endif %}
	</div>
</header>
{% endblock %}

{% block css %}
    <link href="{% static 'css/problems.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="span9" style="min-height: 400px;">
	{% if already_active %}
	<p>This account has already been activated! Proceed to <a href="{% url 'login' %}">login.</a></p>
	{% elif activation_expired %}
	<p>The activation link you clicked has expired. Click <a href="/new-activation-link/{{ resend_userid }}">here</a> to resend email.</p>
	{% elif new_link_sent %}
	<p>A new activation link has been sent to your account.</p>
	{% elif activation_success %}
	<p>Activation successful! You can now <a href="{% url 'login' %}">log in.</a></p>
	{% endif %}

</div>


{% endblock %}