{% extends "base.html" %}

{% block title %}angstromCTF{% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Welcome to angstromCTF!</h1>	
	</div>
</header>
{% endblock %}

{% block content %}
Welcome to angstromCTF, a new capture-the-flag (CTF) competition hosted by high school students!
CTF cybersecurity competitions have become an increasingly popular form of challenges for aspiring cybersecurity students.
After the success of high-school CTF games like picoCTF, we decided to run our own CTF competition called angstromCTF.
angstromCTF will consist of questions ranging from trivial to extremely difficult in various categories:<br/><br/>

<ul>
	<li>Binary exploitation</li>
	<li>Reverse engineering</li>
	<li>Cryptography</li>
	<li>Web exploitation</li>
	<li>Forensics</li>
	<li>Hardware</li>
	<li>Combination</li>
</ul>

angstromCTF is based off of similar high school CTFs like <a href="https://picoctf.com/">picoCTF</a>,
<a href="http://sctf.io">sCTF</a>, and <a href="http://http://hsctf.com/">HSCTF</a>.  However, unless many other
high school CTF competitions, angstromCTF will focus less on forensics and have no reconnaisance problems (i.e.
problems where you need to hunt down hidden information across the internet).  It will instead focus more on
cryptography and binary exploitation, areas we feel have been underrepresented in other CTFs.

{% endblock %}
