{% extends "base.html" %}

{% block title %} Learn - angstromCTF {% endblock %}

{% block pagetitle %}
    <header class="page-title">
        <div class="container">
            <h1>Learn</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    First and foremost, we want everyone to learn something from this competition. We have put together a bunch of resources to help you with the problems we will give. 
    <ul>
    <li>We've written a comprehensive guide to this competition, encompassing all the categories of problems you will encounter. This is a good place to start if you  have never done a CTF before. We'll get you set up with some basic tools and we'll give you a basic rundown of the competition. This guide will introduce you to each category and provide some sample problems. If you would like to learn more about a category or touch up your knowledge, this guide will be useful as well. You can find it <a href="https://actf.gitbooks.io/guide/content/">here</a>.</li>
    <li>The official Trail of Bits CTF guide, found <a href="https://trailofbits.github.io/ctf/">here</a>.</li>
    <li><a href="http://captf.com/practice-ctf/">Practice CTF List</a>, which contains a list of websites to help you practice and learn.</li>
    <li><a href="http://ctf.forgottensec.com/wiki/index.php?title=Main_Page">The ForgottenSec Wiki</a>, a nice collection of information and links.</li>
    <li>Never forget Google! Look up what you don't understand, but don't break the rules!</li>
    <li>Ask in the IRC chat. Maybe a friendly competitor will help you.</li>
    <li>Questions, comments, or suggestions? Email us at contact@angstromctf.com.</li>
    </ul>
    </div>
{% endblock %}
