{% extends "base.html" %}

{% block title %} Learn - angstromCTF {% endblock %}

{% block pagetitle %}
    <header class="page-title">
        <div class="container">
            <h1>Learn</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    This competition could not have happened without all of our generous sponsors. They've provided everything from
    prizes to money to help us run the servers.
    <div class="row categories-row">
    <div class="col-lg-4"> <img src="image_name" alt="Company Name" style="width:0 px;height:0 px;"> </div>
    <div class="col-lg-8"> Company message here</div>
    </div>
t
{% endblock %}