{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %} Problems - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Problems</h1>	
	</div>
</header>
{% endblock %}

{% block css %}
    <link href="{% static 'css/problems.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<form>{% csrf_token %}</form>

{% for problem in problem_list %}
    <div id="outer{{ problem.id }}">
	    {% include "problem.html" with problem=problem solved=solved %}
    </div>
{% endfor %}

<script type="text/javascript" src="{% static "js/problems.js" %}"></script>
<script type="text/javascript" src="{% static "js/csrf.js" %}"></script>

{% endblock %}
