{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}Problems - angstromCTF{% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Problems</h1>	
	</div>
</header>
{% endblock %}


{% block content %}

{% for problem in problem_list %}
    <div id="outer{{ problem.id }}">
	    {% include "problem.html" with problem=problem solved=solved special=False %}
    </div>
{% endfor %}

<script type="text/javascript" src="{% static "js/problems.js" %}"></script>

{% endblock %}
