{% extends "base.html" %}
{% load extras %}
{% load staticfiles %}
{% load humanize %}

{% block title %} {{ team.name }} Profile - {{ ctf_name }} {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>{{ team.name }} Team Profile</h1>
	</div>
</header>
{% endblock %}

{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if started %}
    <div id="chart-div"></div>

    <strong>Score:</strong> {{ team.score }} ({{ team|place|ordinal }} place)
    <br/>
    {% endif %}

    <strong>Affiliation:</strong> {{ team.school }}

    <h3>Team Members</h3>
    <ul>
    {% for member in team.users.all %}
        <li>{{ member.username }}</li>
    {% endfor %}
    </ul>

    <h3>Solved Problems</h3>

    {% if started %}
        {% if ordered_solves|length == 0 %}
            None yet.
        {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Value</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solution in ordered_solves %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ solution.problem.title|safe }}</td>
                            <td>{{ solution.problem.category }}</td>
                            <td>{{ solution.problem.value }}</td>
                            <td>{{ solution.time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        Check back when the contest starts to see what problems this team has solved!
    {% endif %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart', 'line']});
    google.setOnLoadCallback(drawBasic);

    function drawBasic() {
        var data = google.visualization.arrayToDataTable({{ data|safe }});

        var options = {hAxis: {title: 'Time (minutes)'}, vAxis: {title: 'Score'}, interpolateNulls: true, legend: {position:  'bottom'}};

        var chart = new google.visualization.LineChart(document.getElementById('chart-div'));

        chart.draw(data, options);
    }
    </script>
{% endblock %}