{% extends "base.html" %}
{% load extras %}
{% load staticfiles %}

{% block title %} {{ user|capfirst|possession }} Profile - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>{{ user|possession }} profile</h1>
	</div>
</header>
{% endblock %}

{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Problem</th>
			<th>Point value</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
	{% for problem in problems %}
		<tr class="problem-{{ problem.status|yesno:"solved,unsolved" }}">
			<td>{{ problem.name }}</td>
			<td>{{ problem.value }}</td>
			<td>{{ problem.status|yesno:"Yes,No" }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}