{% load extras %}
{% load humanize %}

{% if user.is_authenticated %}
<p class="navbar-text">Hi {{ user.username }}!
{% if user.userprofile.team %}
    You have {{ user.userprofile.team.score }} points in {{ user.userprofile.team|place|ordinal }} place.</p>
{% else %}
    Head to <a href="{% url 'account' %}">Account</a> to join a team.
{% endif %}
<li><a href="{% url 'account' %}">Account</a></li>
<li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
<li><a href="{% url 'login' %}">Login</a></li>
<li><a href="{% url 'signup' %}">Sign Up</a></li>
{% endif %}
