{% extends "base.html" %}
{% load extras %}

{% block title %}Scoreboard - angstromCTF{% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Scoreboard</h1>	
	</div>
</header>
{% endblock %}

{% block content %}
<div id="chart_div" style="width:400px; height:300px"></div>

<table class="table">
	<thead>
		<tr>
			<th>Place</th>
			<th>Team Name</th>
			<th>School</th>
			<th>Score</th>
		</tr>
	</thead>
	{% for team in user_list %}
		<tr onclick="document.location = '/profile/{{ team.user.get_username }}';">
			<td>{{ forloop.counter }}</td>
			<td>{{ team.user.get_username }}</td>
			<td>{{ team.school }}</td>
			<td>{{ team.score }}</td>
		</tr>
	{% endfor %}
</table>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1', {packages: ['corechart', 'line']});
google.setOnLoadCallback(drawBasic);

function drawBasic() {
    var data = google.visualization.arrayToDataTable({{ data|safe }});

    var options = {hAxis: {title: 'Time (minutes)'}, vAxis: {title: 'Score'}, interpolateNulls: true, legend: {position:  'bottom'}};

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

    chart.draw(data, options);
}
</script>
{% endblock %}
