{% extends "base.html" %}
{% load extras %}
{% load staticfiles %}

{% block title %} Scoreboard - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Scoreboard</h1>	
	</div>
</header>
{% endblock %}

{% block css %}
    <link href="{% static 'css/scoreboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if started %}
<div id="chart-div"></div>
{% else %}
The contest hasn't started yet! For now, check out the teams that have signed up:
<br/>
<br/>
{% endif %}

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Team Name</th>
			<th>School</th>

            {% if started %}
			<th>Score</th>
            {% endif %}
		</tr>
	</thead>
    {% if started %}
        {% for team in team_list %}
            <tr onclick="document.location = '/profile/{{ team.id|urlencode }}';">
                <td>{{ forloop.counter }}</td>
                <td>{{ team.name }}
                {% if team.address_street %}*{% endif %}{% if team.eligible == True %}^{% endif %}
                </td>
                <td>{{ team.school }}</td>
                <td>{{ team.score }}</td>
            </tr>
        {% endfor %}
    {% else %}
        {% for team in team_list %}
            <tr onclick="document.location = '/profile/{{ team.id|urlencode }}';">
                <td>{{ forloop.counter }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.school }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

{% if started %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1', {packages: ['corechart', 'line']});
google.setOnLoadCallback(drawBasic);

function drawBasic() {
    var data = google.visualization.arrayToDataTable({{ data|safe }});

    var options = {hAxis: {title: 'Time (minutes)'}, vAxis: {title: 'Score'}, interpolateNulls: true, legend: {position:  'bottom'}};

    var chart = new google.visualization.LineChart(document.getElementById('chart-div'));

    chart.draw(data, options);
}
</script>
{% endif %}
{% endblock %}
