{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Sign Up - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Sign Up</h1>
	</div>
</header>
{% endblock %}

{% block content %}
<div class="jumbotron">
    {% if enabled %}
    {% crispy form %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% else %}
    Sorry, signup is temporarily disabled at this time.  Check back later!
    {% endif %}
</div>
{% endblock %}
