{% extends "base.html" %}

{% block title %}angstromCTF{% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Sign Up</h1>
	</div>
</header>
{% endblock %}

{% block content %}
<div class="jumbotron">
	<form action="." method="post" class="form-horizontal">
		{% csrf_token %}

		<div class="form-group">
			<label for="id_username" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="id_username" placeholder="Username" name="username">
			</div>
		</div>

		<div class="form-group">
			<label for="id_email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="id_email" placeholder="Email" name="email">
			</div>
		</div>

		<div class="form-group">
			<label for="id_password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="id_password" placeholder="Password" name="password">
			</div>
		</div>

		<div class="form-group">
			<label for="id_school" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="id_school" placeholder="School" name="school">
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary" type="submit">Sign Up</button>
			</div>
		</div>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>
{% endblock %}
