{% extends "base.html" %}
{% load extras %}
{% load staticfiles%}
{% block title %} Our Sponsors - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Sponsors</h1>	
	</div>
</header>
{% endblock %}

{% block content %}
This contest would not have been possible without our generous and glorious sponsors. We thank them for all of their support. 
<br/>

<br/>

<h2>DigitalOcean</h2>
<div class="row">
    <div class="col-lg-4">
        <img src="{% static 'images/DO_Logo_Horizontal_Blue-a2b16fb8.png' %}" style="float: left; width: 100%;">
    </div>
    <div class="col-lg-8">
        DigitalOcean is a versatile web infrastructure service, providing easily deployable and scalabe hosting to organizations both big and small. angstromCTF is proud to partner with DigitalOcean to provide DigitalOcean credit to participants and host this website on DigitalOcean servers. Learn more about DigitalOcean at <a href="https://digitalocean.com" target="_blank">digitalocean.com</a>.
    </div>
</div>

{% endblock %}
