{% extends "base.html" %}

{% block title %} Updates - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Updates</h1>	
	</div>
</header>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h3>Tweets <span style="text-align: left; font-size: .6em;">&nbsp;&nbsp;&nbsp;by <a href="https://twitter.com/angstromctf" target="_blank">@angstromctf</a></span></h3>
        <a class="twitter-timeline tw-align-center" data-dnt="true" href="https://twitter.com/angstromctf" data-widget-id="719352683652628482" data-chrome="noheader">Tweets by @angstromctf</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-md-6">
        <h3>Problem Updates</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for update in updates %}
                    <td>{{ update.problem.title|safe }}</td>
                    <td>{{ update.text|safe }}</td>
                    <td>{{ update.time }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
