

{% extends "base.html" %}

{% block title %} Reset password - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h3>Reset password</h3>
	</div>
</header>
{% endblock %}

{% block content %}
<div class="span9">

    <p>An email was sent to you with further instructions for resetting your password, if an account with the email address
    you entered exists.</p>

    <p>If you did not receive the email, check your spam folder.</p>
</div>
{% endblock %}
