

{% extends "base.html" %}

{% block title %} Reset password - angstromCTF {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h3>Reset password</h3>
	</div>
</header>
{% endblock %}

{% block content %}
<div class="jumbotron">

    {% if validlink %}
	<form action="." method="post" class="form-horizontal">{% csrf_token %}

		<div class="form-group">
				<label for="id_new_password1" class="col-sm-2 control-label">New password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="id_password" placeholder="Password" name="new_password1">
				</div>
		</div>
        {{ form.new_password1.errors }}

        <div class="form-group">
				<label for="id_new_password2" class="col-sm-2 control-label">Retype new password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="id_password" placeholder="Password" name="new_password2">
				</div>
		</div>
        {{ form.new_password2.errors }}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">

				<button class="btn btn-success" type="submit">Change password</button>

			</div>
		</div>
	</form>

    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

    {% endif %}

</div>
{% endblock %}
