{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %} angstromCTF {% endblock %}

{% block pagetitle %}
    <header class="page-title">
        <div class="container">
            <h3>Oops - 404!</h3>
        </div>
    </header>
{% endblock %}

{% block content %}

    <br/>
    <br/>
    <br/>

    <div style="text-align: center;">
        The webpage you seek<br/>
        does not really exist but<br/>
        endless others do.<br/>
    </div>

    <br/>

    <a href="http://lmgtfy.com/?q=other+cool+websites">Here's</a> a link to help you find another.


    <!-- From Mike Arnautov's webpage, mipmip.com -->


{% endblock %}
