{% extends "base.html" %}
{% load extras %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} Account - {{ ctf_name }} {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>{{ user.username }}'s Account</h1>
	</div>
</header>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% crispy change_password %}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% if user.userprofile.team %}
                <h3 style="margin-top: 0;">Team Information</h3>

                <p>You're a member of team {{ user.userprofile.team.name }}.  Your team code is
                <samp style='color: blue;'>{{ user.userprofile.team.code }}</samp>.  Don't give it
                out to anyone you don't want joining your team.</p>

                <p>Your team has {{ user.userprofile.team.user_count }} out of 5 possible members:</p>
                <ul>
                    {% for team_member in team_member_list %}
                    <li>{{ team_member.user.first_name }}&nbsp;{{ team_member.user.last_name }}
                    &nbsp;({{ team_member.user.username }})</li>
                    {% endfor %}
                </ul>

                <p>Your shell account username and default password are below:</p>
                Username: <samp style='color: blue;'>{{ user.userprofile.team.shell_username }}</samp><br>
                Password: <samp style='color: blue;'>{{ user.userprofile.team.shell_password }}</samp>
                <br><br><br>
                <h4 style="margin-top: 0;">Shipping address & prize eligibility</h4>

                {% if not user.userprofile.team.address_street %}
                    <p>Nobody in your team has given us a shipping address yet. Please fill out the form below.</p>
                    {% crispy address_form %}

                {% else %}
                    <p>We've received the following information from you or one of your teammates. Should you need
                    to correct this information, email us at contact@angstromctf.com.</p>
                    <p>Shipping address:</p>
                    {{user.userprofile.team.address_street}}<br>
                    {% if user.userprofile.team.address_street_line_2 %}
                        {{user.userprofile.team.address_street_line_2}}<br>
                    {% endif %}
                    {{user.userprofile.team.address_city}}, {{user.userprofile.team.address_state}} {{user.userprofile.team.address_zip}}
                    <br><br>

                {% endif %}


            {% else %}
                {% crispy join_team %}
                {% crispy create_team %}
            {% endif %}
        </div>
    </div>

    <script type="text/javascript" src="{% static "js/csrf.js" %}"></script>
{% endblock %}
