{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %} {{ ctf_name }} {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h3>Oops!</h3>
	</div>
</header>
{% endblock %}

{% block content %}

{% if user.is_authenticated and not user.profile.team %}
    Looks like you haven't joined a team yet!  Head over to <a href="/account">Account</a> to join one!
    <br/><br/>
{% endif %}

<div class="span9" style="min-height: 400px;">
    <p>Contest has not yet started! Come back when it has!</p>
</div>


{% endblock %}
