{% load staticfiles %}
{% load extras %}

<div class="panel problem panel-{% if enable_submission %}{% if solved %}success{% else %}danger{% endif %}{% else %}info{% endif %}" id="panel{{ problem.id }}">
    <div class="panel-heading" data-toggle="collapse" href="#wrapper{{ problem.id }}" aria-expanded="false" aria-controls="wrapper{{ problem.id }}">
        <h3 class="panel-title">
            <div class="category-icon"><span class="glyphicon glyphicon-{{ problem.category|category_icon }}" aria-hidden="true"></span></div>
            {{ problem.title|safe }} ({{ problem.category }}, {{ problem.value }})
            <span style="float: right;">
                {% if enable_submission %}
                    {% if solved %}
                        Solved
                    {% else %}
                        Unsolved
                    {% endif %}
                {% endif %}

                ({{ problem.solves }} solve{{ problem.solves|pluralize }})
            </span>
        </h3>
    </div>

    <div class="collapse {% if not enable_submission or not solved %}in{% else %}out{% endif %}" id="wrapper{{ problem.id }}">
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active" data-toggle="tab" href="#problem{{ problem.id }}"><a href="#">Problem</a></li>
                <li><a data-toggle="tab" href="#hint{{ problem.id }}">Hint</a></li>
                <li><a data-toggle="tab" href="#updates{{ problem.id }}">Updates</a></li>
            </ul>

            <br/>

            <div class="tab-content">
                <div id="problem{{ problem.id }}" class="tab-pane in active">
                    {{ problem.text|safe }}

                    {% if enable_submission %}
                        {% if not solved %}
                            <br/>
                            <br/>

                            <div class="input-group">
                                <input type="text" class="form-control" onkeypress="check_press(event, {{ problem.id }});" placeholder="Problem submission" id="guess{{ problem.id }}" {% if guess %}value="{{ guess }}"{% endif %}>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" onclick="submit_problem({{ problem.id }});">Submit!</button>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

                <div id="hint{{ problem.id }}" class="tab-pane">
                    {{ problem.hint_text|safe|linebreaksbr }}
                </div>

                <div id="updates{{ problem.id }}" class="tab-pane">
                    {% if problem|problem_updates|length == 0 %}
                        No updates.
                    {% else %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Update</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for update in problem|problem_updates %}
                                    <tr>
                                        <td>{{ update.text|safe }}</td>
                                        <td>{{ update.time }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>