{% extends "base.html" %}
{% load extras %}
{% load staticfiles %}
{% load humanize %}

{% block title %} {{ team.name }} Profile - {{ ctf_name }} {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>{{ team.name }} Team Profile</h1>
	</div>
</header>
{% endblock %}

{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if started %}
    <div class="chart-div">
        <div style="width: 50%; float: left;">
            <canvas id="chart" width="3" height="2"></canvas>
        </div>

        <div style="width: 50%; margin-left: 50%;">
            <canvas id="chart2" width="3" height="2"></canvas>
        </div>
    </div>
    <br/>
        <br/>
        <div style="clear: right;"></div>

    <strong>Score:</strong> {{ team.score }} ({{ team|place|ordinal }} place)
    <br/>
    {% endif %}

    <strong>Affiliation:</strong> {{ team.school }}

    <h3>Team Members</h3>
    <ul>
    {% for member in team.profiles.all %}
        <li>{{ member.user.username }}</li>
    {% endfor %}
    </ul>

    <h3>Solved Problems</h3>

    {% if started %}
        {% if ordered_solves|length == 0 %}
            None yet.
        {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Value</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solution in ordered_solves %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ solution.problem.title|safe }}</td>
                            <td>{{ solution.problem.category }}</td>
                            <td>{{ solution.problem.value }}</td>
                            <td>{{ solution.time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        Check back when the contest starts to see what problems this team has solved!
    {% endif %}

{% if started %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
<script type="text/javascript" src="{% static 'js/progression.js' %}"></script>
<script type="text/javascript">
var data = {{ progression|safe }};
var ctx = $('#chart')[0];
draw_progression(ctx, false);
</script>
<script type="text/javascript">
data = {{ categories|safe }};
ctx = $('#chart2')[0];

var polarChart = new Chart(ctx, {
    data: {
        datasets: [{
            data: data['data']
        }],
        labels: data['labels']
    },
    type: 'polarArea',
    options: {
        title: {
            display: true,
            text: 'Problem Solves'
        },
        scale: {
            ticks: {
                stepSize: 1
            }
        }
    }
});
</script>
{% endif %}
{% endblock %}