{% extends "base.html" %}
{% load extras %}
{% load staticfiles %}

{% block title %} Scoreboard - {{ ctf_name }} {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Scoreboard</h1>	
	</div>
</header>
{% endblock %}

{% block css %}
    <link href="{% static 'css/scoreboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if started %}
    <div class="chart-div">
        <canvas id="chart" width="3" height="1"></canvas>
    </div>
{% else %}
The contest hasn't started yet! For now, check out the teams that have signed up:
<br/>
<br/>
{% endif %}
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Team Name</th>
			<th>School</th>

            {% if started %}
			<th>Score</th>
            {% endif %}
		</tr>
	</thead>

    {% if started %}
        {% for team in scoring_teams %}
            <tr onclick="document.location = '{% url 'profile' team.id %}';">
                <td>{{ forloop.counter }}</td>
                <td>{{ team.name }}
                </td>
                <td>{{ team.school }}</td>
                <td>{{ team.score }}</td>
            </tr>
        {% endfor %}
    {% else %}
        {% for team in all_teams %}
            <tr onclick="document.location = '{% url 'profile' team.id %}';">
                <td>{{ forloop.counter }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.school }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

{% if started %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
<script type="text/javascript" src="{% static 'js/progression.js' %}"></script>
<script type="text/javascript">
var data = {{ data|safe }};
var ctx = $('#chart')[0];
draw_progression(ctx, true);
</script>
{% endif %}
{% endblock %}
