{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %} Shell - {{ ctf_name }} {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Webshell</h1>
	</div>
</header>
{% endblock %}

{% block content %}

{% if user.is_authenticated and not user.profile.team %}
    Looks like you haven't joined a team yet!  Head over to <a href="/account">Account</a> to join one!
    <br/><br/>
{% else %}
Username: <samp style='color: blue;'>{{ user.profile.team.shell_username }}</samp><br>
Password: <samp style='color: blue;'>{{ user.profile.team.shell_password }}</samp>
{% endif %}

<div class="jumbotron" style="min-height: 400px;">
    <iframe src="https://angstromctf.com/shell" style="border:none; min-height: 400px;" width="100%"></iframe>
</div>

You can also SSH directly to <code>shell.angstromctf.com</code>.

{% endblock %}
