{% extends "base.html" %}
{% load extras %}
{% load staticfiles%}
{% block title %} Our Sponsors - {{ ctf_name }} {% endblock %}

{% block pagetitle %}
<header class="page-title">
	<div class="container">
		<h1>Sponsors</h1>	
	</div>
</header>
{% endblock %}

{% block content %}
This contest would not have been possible without our generous and glorious sponsors. We thank them for all of their support. 
<br/>

<br/>

<h2>DigitalOcean</h2>
<br><br>
<div class="row">
    <div class="col-sm-4">
        <img src="{% static 'images/DO_Logo_Horizontal_Blue-a2b16fb8.png' %}" style="width: 100%;">
    </div>
    <div class="col-sm-8">
        DigitalOcean is a versatile web infrastructure service, providing easily deployable and scalable hosting to organizations both big and small. angstromCTF is proud to partner with DigitalOcean to provide DigitalOcean credit to participants and host this website on DigitalOcean servers. Learn more about DigitalOcean at <a href="https://digitalocean.com" target="_blank">digitalocean.com</a>.
    </div>
</div>


<h2>BAE Systems</h2>
<br><br>
<div class="row">
    <div class="col-sm-4">
        <img src="{% static 'images/bae_systems.png' %}" style="width: 100%;">
    </div>
    <div class="col-sm-8">
        A British defense contractor, <a href="http://www.baesystems.com/en/home" target="_blank">BAE Systems</a> provides both physical and cyber offense and defense capabilities to the United States, United Kingdom, and many other nations around the world.
    </div>
</div>

<h2>LogRhythm</h2>
<br><br>
<div class="row">
    <div class="col-sm-4">
        <img src="{% static 'images/logrhythm.png' %}" style="width: 100%;">
    </div>
    <div class="col-sm-8">
        <a href="https://logrhythm.com/" target="_blank">LogRhythm</a>, the leader in security intelligence and analytics, empowers organizations around the globe to rapidly detect, respond to and neutralize damaging cyber threats.  The company’s patented and award-winning platform uniquely unifies next-generation SIEM, log management, network and endpoint forensics, and advanced security analytics.
    </div>
</div>

{% endblock %}
