nav.module-nav {
    background-color: #F5F5F5;
    margin-top: 5em;
}

nav.module-nav > ol {
    margin-top: 1em;
    margin-bottom: 1em;
}

a#current-module {
    color: #2c3e50;
}

div.module {
    padding-left: 10%;
    padding-right: 10%;
}