/* CSS for about page */

div.about-row {
    margin: 3em auto 0 auto;
}

img.about-img {
    margin: 0 auto;
    display: block;
    width: 70%!important;
}

div.about-caption {
    padding-top: .5em;
    margin-bottom: 2em;
    text-align: center;
}

ul.nav-pills {
    padding-top: 5em;
    position: fixed;
}