.categories-row {
    margin-bottom: 2em;
    text-align: center;
}

.category {
    margin-top: 0;
}

.category-icon {
    margin: 10px auto;
    width: 20em;
    min-height: 20em;
    line-height: 10em;
    border-radius: 5em;
    text-align: center;
}

.category-icon > span {
    vertical-align: middle;
    font-size: 5em;
    margin: 0 auto;
}