/* CSS for problems page */

h1 {
    padding-bottom: .5em;
}

.panel-success {
    border-color: #3c763d!important;
}

.problem {
    margin-bottom: 7px;
}

.panel-success > .panel-heading {
    color: #fff;
    background-color: #28763d!important;
    border-color: #28763d!important;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color:#28763d!important;
}

.panel-success > .panel-heading .badge {
    color: #28763d!important;
    background-color: #28763d!important;
}

.panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #28763d!important;
}

.panel-danger {
    border-color: #ba2222!important;
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: #ba2222!important;
    border-color: #ba2222!important;
}

.panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ba2222!important;
}

.panel-danger > .panel-heading .badge {
    color: #ba2222!important;
    background-color: #ba2222!important;
}

.panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ba2222!important;
}

div.panel div.alert:last-child {
    margin-bottom: 0;
}

div.category-icon {
    display: inline-block;
    width: 1.5em;
}