/* Custom styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

div#wrapper {
    min-height: 100%;
    position: relative;
}

div.container {
	width: 70vw;
	text-align: justify;
}

div#main-container {
    padding-bottom: 75px;
}

nav.navbar {
	margin-bottom: 0;
}

.input-group-btn > .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

div#footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 75px;
    width: 100%;
    background-color: #2c3e50;
    color: white;
}

/* Index styles */
.categories-row {
    margin-bottom: 2em;
    text-align: center;
}

.category {
    margin-top: 0;
}

.category-icon {
    margin: 10px auto;
    width: 10vw;
    min-height: 10vw;
    line-height: 10vw;
    border-radius: 5vw;
    text-align: center;
}

.category-icon > span {
    vertical-align: middle;
    font-size: 5em;
    margin: 0 auto;
}

/* Problem styles */
.panel-success {
  border-color: #3c763d;
}

.problem {
  margin-bottom: 10px;
}

.panel-success > .panel-heading {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #3c763d;
}

.panel-success > .panel-heading .badge {
  color: #3c763d;
  background-color: #3c763d;
}

.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #3c763d;
}

.panel-danger {
  border-color: #2c3e50;
}

.panel-danger > .panel-heading {
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #2c3e50;
}

.panel-danger > .panel-heading .badge {
  color: #2c3e50;
  background-color: #2c3e50;
}

.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #2c3e50;
}

div.panel div.alert:last-child {
    margin-bottom: 0;
}

/* Profile styles */
.problem-solved {
    color: white;
    background-color: #3c763d;
}

.problem-unsolved {
    color: white;
    background-color: #2c3e50;
}

/* Scoreboard styles */
div#chart-div {
    width: 70vw;
    height: 50vh;
    margin-bottom: 1em;
}

/* About styles */
div.about-row {
    margin: 3em auto 0 auto;
}

.circular {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100%;
    height: 100%
}

div.about-row div.about-img {
    margin: 0 auto;
}

div.about-row div.about-caption {
    padding-top: .5em;
    margin-bottom: 2em;
    text-align: center;
}

/* Form styles */
.asteriskField {
    display: none;
}