/* CSS for index page */

.categories-row {
    margin-bottom: 2em;
    text-align: center;
}

.category {
    margin-top: 0;
}

.category-icon {
    margin: 10px auto;
    width: 10em;
    min-height: 10em;
    line-height: 10em;
    border-radius: 5em;
    text-align: center;
}

.category-icon > span {
    vertical-align: middle;
    font-size: 5em;
    margin: 0 auto;
}

canvas#clock {
    margin: 0 auto;
    padding: 0;
    display: block;
}

h2 {
    text-align: center;
}

canvas#title-canvas {
    margin: 0;
    padding: 0;
    display: block;
}